<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Recuperação de senha</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/style.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous" defer></script>
        <script src="/js/recuperacao.js"></script>
        <script>
            if(<%=incorreto%>)
              alert('Código Incorreto');
          </script>
    </head>
<body onload="main(<%= code %>, <%= telefone %>)">

    <header>
        <a href="/recuperarSenha"><button type="submit" id="voltar" class="btn btn-primary button">Voltar</button></a>
      <div class="logo" style="margin-top: 15%;"><img src="/img/logo.png"></div>
    </header>

    <main>

        <h1>Recuperação de senha</h1>
        <p>Um código de verificação será enviado para seu WhattsApp:</p>

        <form action="/codigoSenha/<%= id %>" method="post">
            <div class="code-container">
                <input name="code" value="<%=code%>" hidden></p>
                <input name="telefone" value="<%=telefone%>" hidden></p>
                <input name="input1" type="text" class="code-input" maxlength="1" oninput="moveToNext(this, 'input2')" id="input1">
                <input name="input2" type="text" class="code-input" maxlength="1" oninput="moveToNext(this, 'input3')" id="input2">
                <input name="input3" type="text" class="code-input" maxlength="1" oninput="moveToNext(this, 'input4')" id="input3">
                <input name="input4" type="text" class="code-input" maxlength="1" id="input4">
            </div>
             
              <button type="submit" class="btn btn-primary button">Conferir</button>
        </form>

        <p style="margin: 5%;">Aguarde 57 segundos para reenviar bo código <br> reenviar</p>
        
    </main>
    
</body>
</html>